
/* GLOBAL DEFINITIONS */

body {
	font-family: 'Avenir Next', Avenir, 'Helvetica Neue', 
	'Lato', 'Segoe UI', Helvetica, Arial, sans-serif;
	width: 1000px;
	height: 100%;
	display: block;
	margin: auto;
	min-width: 1100px;
}

a {
	color: #1868ae;
	text-decoration: none;
}

a:hover {
	color: #439FF0;
}

a:active {
	color: #1D4C75;
}

button {
	display: block;
	position: relative;
	border: none;
	border-radius: 4px;
	color: #fff;
	font-size: 14px;
	padding: 8px 14px;
	background: rgba(1, 105, 178, 0.5);
}

button:hover {
	background: rgba(1, 105, 178, 0.7);
	cursor: pointer;
}

button:active {
	background: rgba(1, 105, 178, 1);
	cursor: pointer;
}

h1 {
	color: #000;
	font-size: 14px;
	text-transform: uppercase;
}

ul {
	padding-left: 25px;
}

/* DEFINITIONS FOR IDS */

#headertexts {
	vertical-align: center;
	margin-left: 20px;
}

#headerbutton {
	float: right;
	display: block;
	margin: 10px;
	height: auto;
}

#header {
	text-align: left;
	height: 95px;
	display: block;
	margin-top: 15px;
}

#icon {
	font-size: 18px;
	padding: 3px;
}

#separator {
	border-top: 1px solid #BED5E5;
}

#bigbar {
	width: 250px;
	display: inline-block;
}

#content {
	width: 700px;
	display: inline-block;
	vertical-align: top;
	margin: 20px 10px;
	position: relative;
	left: 40px;
	top: -10px;
	text-align: justify;

}

#footer {
	height: 100px;
	border-top: 1px solid #cecece;
	padding-top: 10px;
	position: relative;
	top: 80px;
}

#legal {
	color: #aeaeae;
	font-size: 13px;
}

#sidebaricon {
	color: #0169b2;
	opacity: 0.5;
	font-size: 16px;
	width: 20px;
}

/* DEFINITIONS FOR CLASSES */

.notab {
	padding: 0;
	margin: 5px 0;
}

.plaintext {
	font-size: 13px;
}

.inline {
	float: left;
	display: inline-block;
}

.header_subtitle {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 14px;
	padding: 0;
	margin: 0;
}

.header_title {
	font-size: 30px;
	line-height: 10px;
	padding: 0;
	font-weight: 400;
	margin: 20px 0;
}

.sidebar {
	margin: 20px 0;
	padding: 10px;
	background: #f6f6f6;
	color: #0169b2;
	border-top: 2px solid rgba(1, 105, 178, 0.5);
	max-width: 230px;
}

.sidebar_title {
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
	padding-top: 10px;
	color: #000;
}

.sidebar_link {
	border-bottom: 1px solid #d4e5f0;
	font-size: 14px;
}

.sidebar_link_important {
	border-bottom: 1px solid red;
	color: red;
}

.sub-menu li {
	font-size: 15px;
}

.del { 
   display: none;
}
 
.del:not(:checked) + label + * { 
	display: none; 
}

.del:not(:checked) + label,
.del:checked + label {
	display: block;
	cursor: pointer;
	padding: 5px 0px;
}

.del + label > i {
	width: 10px;
}

.del:checked + label > i#closed {
	display: none;
}

.del:not(:checked) + label > i#opened {
	display: none;
}

.del:hover > b {
	color: #439FF0;
}

.del:active > b {
	color: #1D4C75;
}

.wrap {
	position: relative;
	display: block;
	height: 100px;
	background: #f6f6f6;
	padding: 15px 0;
	border-radius: 10px;
	margin: 10px 0;
	font-size: 14px;
}

.wrap > a {
	bottom: 15px;
	right: 15px;
	position: absolute;
}

.wrap > p {
	margin: 0px;
}

.wrap > img {
	opacity: 0.75;
}

.emptybutton {
	border: 1px solid rgba(1, 105, 178, 1);
	padding: 6px 12px;
	background: #fff;
	color: rgba(1, 105, 178, 1);
}

.emptybutton:hover {
	color: #fff;
	background-color: rgba(1, 105, 178, 1);
}

.emptybutton:active {
	color: #fff;
	background-color: rgba(1, 105, 178, 1);
}

.sideli {
	list-style: none;
	padding: 3px 0;
	font-size: 14px;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	font-size: 13px;
}

table > tbody > tr:nth-of-type(2n+1) {
	background: #fafafa;
}

table > tbody > tr > td {
	border: 1px solid #cdcdcd;
	border-collapse: collapse;
	padding: 8px;
}