{% extends "login_logout.html" %}
{% load staticfiles %}
{% block additional_css %}
<link rel="stylesheet" href="{% static 'css/main.css' %}" />
<link rel="stylesheet" href="{% static 'css/fa-min.css' %}" />
{% endblock %}
{% block ll %}
<div class="errpage">
    <h2>
        Ошибка 403
    </h2>
    <p>
        Недостаточно прав для выполнения этого действия!
    </p>
    <a href="{% url 'main'%}">
        <button>
            Вернитесь на главную страницу
        </button>
    </a>
</div>
{% endblock %}