{% extends 'base.html' %}
{% load staticfiles %}
{% block additional_css %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">
<link rel="stylesheet" href="{% static 'css/fa-min.css' %}">
{% endblock %}
{% block content %}	
<!-- Header bar -->
	<div id="header">
		<div id="headerbutton">
			<button class="emptybutton">
				<i class="fa fa-user"></i> 
				Войти
			</button>
		</div>
		<div class="inline">
			<a href="#">
				<img src="{% static 'images/logo_mirea.png' %}"/>
			</a>
		</div>
		<div class="inline" id="headertexts">
			<p class="header_title">
				Кафедра корпоративных информационных систем
			</p>
			<a class="header_subtitle" href="http://mirea.ru">
				Московский технологический университет
			</a>
		</div>
	</div>

	<!-- Big sidebar with small sidebars -->
	<div id="bigbar">
		<div class="sidebar">
			<span class="sidebar_title">
				<i class="fa fa-briefcase" id="sidebaricon"> </i>
				Кафедра
			</span>
			<ul class="notab">
				<li class="sideli">
					<a class="sidebar_link" href="#">
						О кафедре
					</a>
				</li>
				<li class="sideli">
					<a class="sidebar_link" href="#">
						История кафедры
					</a>
				</li>
				<li class="sideli">
					<a class="sidebar_link" href="#">
						Материально-техническое обеспечение
					</a>
				</li>
				<li class="sideli">
					<a class="sidebar_link" href="#">
						Учебная работа
					</a>
				</li>
				<li class="sideli">
					<a class="sidebar_link" href="#">
						Научная работа
					</a>
				</li>
			</ul>
		</div>		
		<div class="sidebar">
			<span class="sidebar_title">
				<i class="fa fa-file" id="sidebaricon"> </i>
				Бакалаврам
			</span>
			<ul class="notab">
			{% for subject_list in subject_pack %}				
				<li class="sideli">
					<input type="checkbox" id="{% cycle 'a' 'b' 'c' 'd' %}" class="del"/>
					<label for="{% cycle 'a' 'b' 'c' 'd' %}" class="del">
						<i class="del fa fa-angle-right" id="closed"> </i>
						<i class="del fa fa-angle-down" id="opened"> </i>

						<b> {% cycle 'Первый' 'Второй' 'Третий' 'Четвертый' %} курс</b>
					</label>
					<div class="unseen">
						<ul class="sub-menu">					
						{% for subject in subject_list %}
							<li class="sideli">
								<a class="sidebar_link" href="{% url 'subject_name' subject=subject.code_name %}">
									{{ subject.name }}
								</a>
							</li>						
						{% endfor %}
						</ul>
					</div>
				</li>
			{% endfor %}				
			</ul>			
			
		</div>	
		<div class="sidebar">
			<span class="sidebar_title">
				<i class="fa fa-file" id="sidebaricon"> </i>
				Магистрам
			</span>
			<ul class="notab">
			{% for subjeсt in subject_pack.0 %}
				<li class="sideli">
					<a class="sidebar_link" href="{#{% url 'subject_name' subject=subject.code_name %}#}">
						{{ subject.name }}тут должно было быть название предмета {{subject.code_name}}
					</a>
				</li>
			{% endfor %}
			</ul>
		</div>
	</div>

<!-- Main content of a page -->
<div id="content">
	{% block main %}
	{% endblock %}
</div>
<div id="footer">
	<span id="legal">
		© 2016 Кафедра "Корпоративные информационные системы" МИРЭА 
	</span>
</div>
{% endblock %}
