{% extends 'main.html' %}
{% block main %}
	<h1>
		История кафедры 
	</h1>

	<span class="plaintext">
		<p>Кафедра корпоративных информационных систем была создана в 2011 году. Кафедру возглавляет д.т.н. профессор Андрей Борисович Петров. Кафедра является выпускающей по направлению 09/03/02 «Информационные системы и технологии». Летом 2013 года кафедрой был произведен первый выпуск магистров, а в 2015 году состоятся первый выпуск бакалавров по этому же направлению.</p>

		<p>Сотрудники кафедры – высококвалифицированные специалисты, многие из которых являются выпускниками МИРЭА. Ими разработано большое количество учебных и учебно-методических пособий для студентов. Программы дисциплин, которые читаются студентам, регулярно пересматриваются в соответствии с новыми достижениями в области информационных систем и технологий.</p>

		<p><b>За время обучения студенты овладевают глубокими знаниями фундаментальных дисциплин, а также знаниями, умениями и практическими навыками в областях:</b></p>
		<ul >
			<li> технологии программирования </li>
			<li> управление данными </li>
			<li> информационные сети </li>
			<li> технологии визуализации информации </li>
			<li> открытые информационные системы </li>
			<li> корпоративные информационные системы </li>
			<li> безопасность функционирования ИС </li>
			<li> проектирование ИС </li>
		</ul>
	</span>
	
{% endblock %}
