{% extends 'main.html' %}
{% block main %}
	<h1>
		Материально-техническое обеспечение
	</h1>
	
	<span class="plaintext">
		<table>
			<tbody>
			<tr>
				<td>
					<p align="center">
					</p>
					<p align="center">
						 №
					</p>
				</td>
				<td>
					<p align="center">
					</p>
					<p align="center">
						 Наименование лаборатории
					</p>
				</td>
				<td>
					<p align="center">
						 Учебные дисциплины, по которым проводятся лабораторные работы
					</p>
				</td>
				<td>
					<p align="center">
						 Оборудование для проведения лабораторных работ
					</p>
				</td>
			</tr>
			<tr>
				<td>
					<p align="center">
					</p>
					<p align="center">
					</p>
					<p align="center">
						 1
					</p>
				</td>
				<td>
					<p align="center">
					</p>
					<p align="center">
					</p>
					<p align="center">
						 Компьютерный класс №1
					</p>
				</td>
				<td>
					<p align="center">
						 Технологии программирования
					</p>
					<p align="center">
					</p>
					<p align="center">
						 Проектирование корпоративных информационных систем
					</p>
					<p align="center">
					</p>
					<p align="center">
						 Основы управления ИТ проектами
					</p>
					<p align="center">
					</p>
				</td>
				<td>
					<p align="center">
						 Персональный компьютер (15 шт.)
					</p>
					<p align="center">
					</p>
					<p align="center">
						 Сетевой коммутатор (1 шт.)
					</p>
				</td>
			</tr>
			<tr>
				<td>
					<p align="center">
					</p>
					<p align="center">
						 2
					</p>
				</td>
				<td>
					<p align="center">
					</p>
					<p align="center">
						 Компьютерный класс №2
					</p>
				</td>
				<td>
					<p align="center">
						 Управление данными
					</p>
					<p align="center">
					</p>
					<p align="center">
						 Безопасность функционирования ИС
					</p>
					<p align="center">
					</p>
				</td>
				<td>
					<p align="center">
						 Персональный компьютер (15 шт.)
					</p>
					<p>
					</p>
					<p>
						 Сетевой коммутатор (1 шт.)
					</p>
				</td>
			</tr>
			<tr>
				<td>
					<p align="center">
					</p>
					<p align="center">
					</p>
					<p align="center">
						 3
					</p>
				</td>
				<td>
					<p align="center">
					</p>
					<p align="center">
					</p>
					<p align="center">
						 Учебная лаборатория
					</p>
				</td>
				<td>
					<p align="center">
						 Информационные сети
					</p>
					<p align="center">
					</p>
					<p align="center">
						 Операционные системы
					</p>
					<p align="center">
					</p>
					<p align="center">
						 Открытые ИС
					</p>
					<p align="center">
					</p>
				</td>
				<td>
					<p align="center">
						 Персональный компьютер (15 шт.)
					</p>
					<p align="center">
					</p>
					<p align="center">
						 Сетевой коммутатор (1 шт.)
					</p>
				</td>
			</tr>
			</tbody>
		</table>
	</span>

{% endblock %}
