{% extends 'main.html' %}
{% block main %}
	<h1>
		Учебная работа
	</h1>

	<span class="plaintext">
		<b>Специальности и направления подготовки: </b><br>
		<ul style="padding: 0 35px; margin: 0px;">
		<li>09.03.02 бакалавры направление 51 «корпоративные  информационные системы» </li>
		<li>09.04.02 магистры направление 23 «информационные системы государственного и корпоративного управления» </li>
		</ul>
		<br>

		<b>Перечень читаемых дисциплин: </b>
		<ol style="padding: 0 35px; margin: 0px;">

		<li>Бакалавриат

		</li><li>Информатика
		</li><li>Объектно-ориентированное программирование</li>
		<li>Процедурное программирование</li>
		<li>Архитектура корпоративных информационных систем</li>
		<li>Операционные системы</li>
		<li>Теория информационных процессов и систем</li>
		<li>Управление данными</li>
		<li>Технология программирования</li>
		<li>Автоматизация проектирования ИС</li>
		<li>Информационные сети</li>
		<li>Моделирование систем</li>
		<li>Системный анализ</li>
		<li>Технологии визуализации информации </li>
		<li>Безопасность функционирования информационных систем</li>
		<li>Информационно-поисковые системы</li>
		<li>Корпоративные информационные системы</li>
		<li>Мировые информационные ресурсы</li>
		<li>Основы управления ИТ-проектами</li>
		<li>Оценка качества информационных систем</li>
		<li>Проектирование ИС </li>
		<li>Менеджмент информационных систем</li>
		<li>Открытые информационные системы</li>
		<li>Программная инженерия</li>
		<li>Системы электронного документооборота</li>
		<li>Администрирование в информационных системах</li>
		</ol>
		<br>
		<b>Магистратура</b><br>
		<ol style="padding: 0 35px; margin: 0px;">
		<li>Архитектура информационных сетей 
		</li><li>Информационные системы государственного и муниципального управления</li>
		<li>Распределенные информационные системы и информационные ресурсы</li>
		<li>Методы поиска оптимальных решений</li>
		<li>Открытые информационные системы</li>
		<li>Аутсорсинг информационных технологий</li>
		<li>Безопасность функционирования информационных систем</li>
		<li>Методологии проектирования информационных систем</li>
		<li>Системная инженерия </li>
		</ol>
		<br>

		<b>Аспирантура</b><br>
		<ol style="padding: 0 35px; margin: 0px;">
		<li>Методология проектирования открытых информационных, вычислительных и телекоммуникационных систем</li>
		</ol>
		</li>
	</span>
	
{% endblock %}
