{% extends 'main.html' %}
{% block main %}
		<h1 class="subject">
			{ subject_name }
		</h1>


	<!--ИНФОРМАЦИЯ О ПРЕДМЕТЕ -->

		<h3 class="docs">
			Документы
		</h3>
	<div class="wrap">		
	<span class="word">
		<img src="images/word.png">
			<p>"Название документа"<br>
			Автор: Васильева А.А.</p>
			<a href="#" class="button"/>Скачать</a>
		</span>
		</div>
	<div class="wrap">
		<span class="pdf">
			<img src="images/pdf.png">
			<p>"Название документа"<br>
			Автор: Воронков В.Д.
			</p>
			<a href="#" class="button"/>Скачать</a>
		</span>

	</div>
{% endblock %}