{% extends 'main.html' %}
{% block main %}
		<h1 class="subject">
			ИНФОРМАТИКА
		</h1>


	<!--ИНФОРМАЦИЯ О ПРЕДМЕТЕ -->

		<h3 class="docs">
			Документы
		</h3>
		
	<!-- Slightly modified file displaying format -->
	<span class="word wrap">
		<img src="static/images/word.png" height="100" class="inline" />
		<p class="inline">
			<b>
				Информационные технологии. Лабораторные, первый семестр
			</b>
			<br>
				Автор: Башлыкова А.А.
		</p>
		<a href="#" class="inline">
			<button class="button">
				<i class="fa fa-download"> </i> 
				Скачать
			</button>
		</a>
	</span>
	
	<div class="wrap">		
		<span class="word">
			<img src="images/word.png">
			<p>
				"Название документа"
				<br>
				Автор: Васильева А.А.
			</p>
			<a href="#" class="button"/>Скачать</a>
		</span>
	</div>
	<div class="wrap">
		<span class="pdf">
			<img src="images/pdf.png">
			<p>"Название документа"<br>
			Автор: Воронков В.Д.
			</p>
			<a href="#" class="button"/>Скачать</a>
		</span>

	</div>
{% endblock %}